<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="{% static 'popper/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'app.js' %}" defer></script>
    <title>GastroManager</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">GastroManager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="/garcom">Garçons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/pedidos">Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/menu">Cardápio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="hero">
            <h1>Atualizar Pedido</h1>
        </div>
        <form method="POST" action="/pedidos/atualizar_pedido/{{id}}">
            <div class="mb-3">
                <label for="nome_prato" class="form-label">Prato</label>
                <select class="form-select" name="item" id="nome_prato">
                    {% for item in cardapio %}
                    <option value="{{item.titulo}}">{{item.titulo}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="descricao_prato" class="form-label">Descrição</label>
                <input type="text" class="form-control" id="descricao_prato" name="descricao">
            </div>
            <div class="mb-3">
                <label for="preco" class="form-label">Preço</label>
                <input type="number" class="form-control" id="preco" name="preco">
            </div>
            <div class="mb-3">
                <label for="garcom" class="form-label">Garçom</label>
                <select class="form-select" name="garcom" id="garcom">
                    {% for garcom in garcons %}
                    <option value="{{garcom.nome_completo}}">{{garcom.nome_completo}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="numero_mesa" class="form-label">Mesa</label>
                <input type="number" class="form-control" id="mesa" name="mesa">
            </div>

            <button type="submit" class="btn btn-primary">Realizar pedido</button>
        </form>
    </main>
</body>

</html>