<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="{% static 'popper/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'app.js' %}" defer></script>
    <title>GastroManager</title>
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">GastroManager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/garcom">Garçons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pedidos">Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/menu">Cardápio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="hero">
            <h1>Atualizar Garçom</h1>
        </div>
        <form method="POST" action="/garcom/atualizar_garcom/{{id}}">
            <div class="mb-3">
                <label for="nome_garcom" class="form-label">Nome</label>
                <input type="text" class="form-control" name="nome_completo" id="nome_garcom">
            </div>
            <div class="mb-3">
                <label for="sexo_garcom" class="form-label">Sexo</label>
                <input type="text" class="form-control" name="sexo_garcom" id="sexo_garcom">
            </div>
            <div class="mb-3">
                <label for="data_nascimento_garcom" class="form-label">Data de nascimento</label>
                <input type="date" class="form-control" name="data_nascimento" id="data_nascimento_garcom">
            </div>
            <div class="mb-3">
                <label for="cpf_garcom" class="form-label">CPF</label>
                <input type="text" class="form-control" name="cpf_garcom" id="cpf_garcom">
            </div>
            <button type="submit" class="btn btn-primary">Atualizar Garçom</button>
        </form>
    </main>
</body>

</html>