<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
   <form method="post" style="display:flex;flex-direction: column;max-width: 500px;width: 80svw;gap: 12px" >
    <label for="titulo">Titulo do item</label>
    <input type="text" id="titulo" name="titulo">
    <label for="descricao">Descrição do item</label>
    <input type="text" id="descricao" name="descricao">
    <button type="submit">Criar item</button>
   </form>
</body>
</html>